* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}
.App {
  .navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 7vh;
    background-color: whitesmoke;
    .logo {
      font-size: 22px;
      font-weight: bold;
    }
    .btn {
      .button {
        background-color: blueviolet;
        color: white;
        padding: 5px 10px;
        border: none;
        border-radius: 5px;
        font-size: 18px;
        text-decoration: none;
        cursor: pointer;
        &:hover {
          background-color: rgb(157, 79, 230);
        }
      }
    }
  }
  .todos_wrapper {
    min-height: 86vh;
    h2 {
      padding: 10px 0px;
      text-align: center;
    }
    .todos {
      display: flex;
      align-items: center;
      flex-direction: column;
      .todo {
        box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.35);
        width: 900px;
        height: 70px;
        margin: 7px 0px;
        padding-right: 10px;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        font-size: 18px;
        transition: all 0.4s ease;
        &:hover {
          transform: scale(1.02);
        }
        .todo_info {
          height: 100%;
          width: 85%;
          display: flex;
          align-items: center;
          padding-left: 10px;
          .index {
            width: 5%;
            color: green;
          }
          .title {
            width: 20%;
          }
          .description {
            width: 50%;
          }
          .date {
            width: 20%;
            text-align: right;
          }
        }
        .events {
          width: 15%;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          .fa-check {
            color: green;
          }
          .update_btn {
            background-color: orange;
            border: none;
            border-radius: 5px;
            padding: 5px 8px;
            cursor: pointer;
            color: white;
            margin-left: 8px;
            &:hover {
              background-color: rgb(247, 184, 67);
            }
          }
          .delete_btn {
            background-color: red;
            border: none;
            border-radius: 5px;
            padding: 5px 8px;
            cursor: pointer;
            margin-left: 8px;
            color: white;
            &:hover {
              background-color: rgb(250, 57, 57);
            }
          }
        }
      }
      .completed {
        box-shadow: 0px 0px 7px 2px green;
        text-decoration: line-through;
      }
      .delete_wrapper {
        position: fixed;
        width: 100%;
        height: 100vh;
        left: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.7);
        backdrop-filter: blur(7px);
        display: flex;
        justify-content: center;
        align-items: center;
        .delete {
          background-color: lightgray;
          padding: 20px;
          border-radius: 10px;
          width: 600px;
          .delete_question {
            font-size: 20px;
            text-align: center;
            padding-bottom: 20px;
          }
          .delete_events {
            display: flex;
            justify-content: center;
            button {
              border: none;
              border-radius: 5px;
              padding: 5px 10px;
              color: white;
              cursor: pointer;
            }
            .delete_cancel {
              background-color: orange;
              &:hover {
                background-color: rgb(252, 185, 62);
              }
            }
            .delete_ok {
              background-color: red;
              margin-left: 10px;
              &:hover {
                background-color: rgb(252, 49, 49);
              }
            }
          }
        }
      }
      .details_wrapper {
        position: fixed;
        width: 100%;
        height: 100vh;
        left: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.7);
        backdrop-filter: blur(7px);
        display: flex;
        justify-content: center;
        align-items: center;
        .details {
          background-color: lightgray;
          width: 350px;
          min-height: 400px;
          border-radius: 15px;
          padding: 20px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          animation: fadeInDetails 0.4s linear;
          font-size: 18px;
          @keyframes fadeInDetails {
            0% {
              transform: translateY(3rem);
              opacity: 0;
            }
          }
          .details_date {
            align-self: flex-end;
          }
        }
      }
    }
    .create_todo_btn {
      text-align: center;
      button {
        background-color: green;
        color: white;
        padding: 7px;
        font-size: 17px;
        width: 300px;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        &:hover {
          background-color: rgb(43, 161, 43);
        }
      }
    }
    .search_todos {
      margin: 10px 0px;
      text-align: center;
      input {
        padding: 7px;
        font-size: 17px;
        width: 300px;
        border: none;
        border-radius: 5px;
        background-color: rgb(233, 233, 233);
        text-align: center;
        &:focus {
          outline: none;
        }
      }
    }
    .create_wrapper,
    .update_wrapper {
      position: fixed;
      width: 100%;
      height: 100vh;
      left: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0.7);
      backdrop-filter: blur(7px);
      display: flex;
      justify-content: center;
      align-items: center;
      form {
        background-color: lightgray;
        width: 350px;
        min-height: 400px;
        border-radius: 15px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        animation: fadeInForm 0.4s linear;
        @keyframes fadeInForm {
          0% {
            transform: translateY(3rem);
            opacity: 0;
          }
        }
        .create_title,
        .update_title {
          font-weight: 200;
          text-align: center;
        }
        .create_content,
        .update_content {
          div {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin: 7px 0px;
            input {
              border: none;
              border-radius: 7px;
              padding: 7px 5px;
              &:focus {
                outline: none;
              }
            }
            button {
              margin-top: 15px;
              padding: 7px 0px;
              border: none;
              border-radius: 7px;
              background-color: green;
              color: white;
              font-size: 17px;
              cursor: pointer;
            }
          }
          .error {
            color: red;
            font-size: 13px;
          }
          .success_msg {
            color: green;
            text-align: center;
          }
        }
      }
    }
  }
  .motivate {
    min-height: 86vh;
    .title {
      text-align: center;
      padding: 10px;
    }
    .messages {
      display: flex;
      flex-direction: column;
      align-items: center;
      .msg {
        width: 700px;
        background-color: lightgray;
        margin: 10px 0px;
        padding: 20px;
        border-radius: 10px;
        font-size: 18px;
        .author {
          text-align: right;
          color: green;
        }
      }
    }
  }
  .footer {
    text-align: center;
    height: 7vh;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
  }
}
